
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* This prevents the entire page from scrolling */
}

header, footer {
  flex-shrink: 0; /* Prevents them from squishing if content grows */
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #009bd4;
}

.logo {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.logo-img {
  width: 200px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #009bd4;
  width: 100%;
  height: 6vh;
}

.sidebar {
  display: flex;

  flex-direction: column;
  
  justify-content: left;
  align-items: start;
  background-color: #D7DCE0;
  width: 15vw;
}

.sidebar-menu {
  list-style: none;
}

.sidebar-menu a, h3 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #193343;
}

.footer button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  background-color: #D7DCE0;
  color: white;
  width: 30%;
  margin: 10px;
  border-radius: 10px;
}

.column h3 {
  color: white;
  margin: 0;
  height: 8vh;
  line-height: 8vh; 
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.app-content {
  display: flex;
  flex: 1;
  gap: 10px;
}

.task {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.task h4 {
  margin: 0;
}

.task-footer {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
  align-items: end;
  margin: 0;
}

.task-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.task-header button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.task-header-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.task-header-child:hover {
  cursor: pointer;
}

.task-footer-child {
  margin-top: 0;
  margin-bottom: 0;
}

.task-page {
  background-color: #D7DCE0;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 30vw;
}

.task-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30vw;
}

.task-details-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.about-info {
  width: 50vw;
  text-align: justify;
}

.about-info h1 {
  text-align: center;
}

.team-info {
  width: 50vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.not-found {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* .task-assignee {
  margin: 0;
}

.task-due-date {
  margin: 0;
} */
