
:root {
  --main-bg-color: #b5b5b5;
  --main-color: #292107;
  --dashboard-bg-color: #e2e2e2;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* This prevents the entire page from scrolling */
}

header, footer {
  flex-shrink: 0; /* Prevents them from squishing if content grows */
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.8em;
  border-radius: 5px;

}

label {
  display: block;
  margin: 1rem auto;
}

input {
  margin-left: .5rem;
  margin-right: .5rem;
}

select {
  margin-left: .5rem;
  margin-right: .5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 84vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-columns {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  height: 10vh;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.logo-img {
  width: 200px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  width: 100%;
  height: 6vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: left;
  align-items: start;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  max-width: 15vw;
}

.sidebar-menu {
  list-style: none;
}

.sidebar-menu a, h3 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.footer button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  color: white;
  width: 30%;
  margin: 10px;
  border: 4px solid;
  border-radius: 10px;
}

.column h3 {
  color: white;
  margin: 0;
  height: 8vh;
  line-height: 8vh; 
  text-align: center;
}

.app-content {
  background-color: var(--dashboard-bg-color);
  display: flex;
  flex: 1;
}

.task {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.task h4 {
  margin: 0;
}

#add-task-button {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.add-task button {
  background-color: var(--main-color);
  margin: 10px;
}

.task-footer {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
  align-items: end;
  margin: 0;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-header-detail {
  text-align: center;
}

.task-header button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.task-header-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.task-header-child:hover {
  cursor: pointer;
}

.task-footer-child {
  margin-top: 0;
  margin-bottom: 0;
}

.task-page {
  display: flex;
  flex: 1;
  justify-content: center;
}

.task-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
}

.task-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-details-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.about-info {
  width: 50vw;
  text-align: justify;
}

.about-info h1 {
  text-align: center;
}

.team-info {
  width: 50vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.not-found {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.add-task {
  position: fixed;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.form {
  color: var(--main-color);
  background-color: var(--dashboard-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 2em;
}
